<div class="container">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Zur Hunter <span class="text-muted">Web/Mobile Developer</span></h2>
          <p class="lead" style="color:white;">Majored in Computer Information Systems at Howard University in May 2015.  Zuri is an up and coming web/mobile developer.  She has a strong passion for technology and sports and wishes oneday to spend time in an industry that connects the two.  Currently she is concentrating on expanding the Women Who Code community in the DMV area and inspiring young ladies to become apart of the STEM education.</p>
          <p><a class="btn btn-primary" href="https://www.linkedin.com/pub/zuri-hunter/14/ba5/748" role="button">Connect on LinkedIn</a></p>
        </div>
        <div class="col-md-5">
           <img class="featurette-image img-responsive" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/4/000/181/3ec/172f80b.jpg" height= "500px" width="500px" alt="Generic placeholder image">
        </div>
      </div><!-- row featurette-->
</div><!--container-->
      
      
     